<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.shopping.mapper.PublicReceiptMapper">
    
    <resultMap type="com.ruoyi.system.api.domain.PublicReceipt" id="PublicReceiptResult">
        <result property="receiptId"    column="receipt_id"    />
        <result property="receiptClod"    column="receipt_clod"    />
        <result property="receiptTime"    column="receipt_time"    />
        <result property="receiptBy"    column="receipt_by"    />
        <result property="receiptNumber"    column="receipt_number"    />
        <result property="receiptMoney"    column="receipt_money"    />
        <result property="remark"    column="remark"    />
        <result property="receiptVendorId"    column="receipt_vendor_id"    />
        <result property="contact"    column="contact"    />
        <result property="receiptPhone"    column="receipt_phone"    />
        <result property="receiptState"    column="receipt_state"    />
        <result property="orderId"    column="order_id"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="orderTitle"    column="order_title"    />
        <result property="abbreviated"    column="abbreviated"    />
        <result property="demandCount"    column="demand_count"    />
        <result property="totalMoney"    column="total_money"    />
        <result property="datePlusThreeDays"    column="DatePlusThreeDays"    />
        <result property="warehouseName"    column="warehouse_name"    />
        <result property="orderMaterialId" column="order_material_id" />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectPublicReceiptVo">
        select receipt_id, receipt_clod, receipt_time, receipt_by, receipt_number, receipt_money, remark, receipt_vendor_id, contact, receipt_phone, receipt_state, receipt_orders_id, create_by, create_time, update_by, update_time, is_delete from public_receipt
    </sql>

    <select id="selectPublicReceiptList" parameterType="com.ruoyi.system.api.domain.PublicReceipt" resultMap="PublicReceiptResult">
        SELECT ord.order_id,ord.order_number,
               ve.abbreviated,
               ord.order_title,
               de.demand_count,
               order_material_id,
               ord.total_money,DATE_ADD(ord.create_time, INTERVAL 3 DAY) AS DatePlusThreeDays,
               re.receipt_by,
               wa.warehouse_name,
               re.receipt_state
        FROM shopping_orders AS ord
                 INNER JOIN public_vendor AS ve ON(ord.order_supplier_id=ve.vendor_id)
                 INNER JOIN shopping_demand AS de ON(ord.order_material_id=de.demand_id)
                 INNER JOIN public_receipt AS re ON(ord.order_id=re.receipt_orders_id)
                 INNER JOIN public_warehouse AS wa ON(re.receipt_warehouse_id=wa.warehouse_id)
        <where>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number like concat('%', #{orderNumber}, '%') </if>
            and receipt_state = 0
        </where>
    </select>




    <!--    <select id="selectPublicReceiptList" parameterType="com.ruoyi.system.api.domain.PublicReceipt" resultMap="PublicReceiptResult">-->
    <!--        <include refid="selectPublicReceiptVo"/>-->
    <!--        <where>-->
    <!--            <if test="receiptClod != null  and receiptClod != ''"> and receipt_clod = #{receiptClod}</if>-->
    <!--            <if test="receiptTime != null "> and receipt_time = #{receiptTime}</if>-->
    <!--            <if test="receiptBy != null  and receiptBy != ''"> and receipt_by = #{receiptBy}</if>-->
    <!--            <if test="receiptNumber != null "> and receipt_number = #{receiptNumber}</if>-->
    <!--            <if test="receiptMoney != null "> and receipt_money = #{receiptMoney}</if>-->
    <!--            <if test="remark != null  and remark != ''"> and remark like concat('%', #{remark}, '%')</if>-->
    <!--            <if test="receiptVendorId != null "> and receipt_vendor_id = #{receiptVendorId}</if>-->
    <!--            <if test="contact != null  and contact != ''"> and contact = #{contact}</if>-->
    <!--            <if test="receiptPhone != null  and receiptPhone != ''"> and receipt_phone = #{receiptPhone}</if>-->
    <!--            <if test="state != null "> and state = #{state}</if>-->
    <!--            <if test="receiptOrdersId != null "> and receipt_orders_id = #{receiptOrdersId}</if>-->
    <!--            <if test="isDelete != null "> and is_delete = #{isDelete}</if>-->
    <!--        </where>-->
    <!--    </select>-->



    <select id="selectPublicReceiptByReceiptId" parameterType="Long" resultMap="PublicReceiptResult">
        <include refid="selectPublicReceiptVo"/>
        where receipt_id = #{receiptId}
    </select>

    <insert id="insertPublicReceipt" parameterType="com.ruoyi.system.api.domain.PublicReceipt" useGeneratedKeys="true" keyProperty="receiptId">
        insert into public_receipt
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="receiptClod != null">receipt_clod,</if>
            <if test="receiptTime != null">receipt_time,</if>
            <if test="receiptBy != null">receipt_by,</if>
            <if test="receiptNumber != null">receipt_number,</if>
            <if test="receiptMoney != null">receipt_money,</if>
            <if test="remark != null">remark,</if>
            <if test="receiptVendorId != null">receipt_vendor_id,</if>
            <if test="contact != null">contact,</if>
            <if test="receiptPhone != null">receipt_phone,</if>
            <if test="receiptState != null">receipt_state,</if>
            <if test="receiptOrdersId != null">receipt_orders_id,</if>
            <if test="receiptWarehouseId != null">receipt_warehouse_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="receiptClod != null">#{receiptClod},</if>
            <if test="receiptTime != null">#{receiptTime},</if>
            <if test="receiptBy != null">#{receiptBy},</if>
            <if test="receiptNumber != null">#{receiptNumber},</if>
            <if test="receiptMoney != null">#{receiptMoney},</if>
            <if test="remark != null">#{remark},</if>
            <if test="receiptVendorId != null">#{receiptVendorId},</if>
            <if test="contact != null">#{contact},</if>
            <if test="receiptPhone != null">#{receiptPhone},</if>
            <if test="receiptState != null">#{receiptState},</if>
            <if test="receiptOrdersId != null">#{receiptOrdersId},</if>
            <if test="receiptWarehouseId != null">#{receiptWarehouseId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
        </trim>
    </insert>

    <update id="updatePublicReceipt" parameterType="com.ruoyi.system.api.domain.PublicReceipt">
        update public_receipt
        <trim prefix="SET" suffixOverrides=",">
            <if test="receiptClod != null">receipt_clod = #{receiptClod},</if>
            <if test="receiptTime != null">receipt_time = #{receiptTime},</if>
            <if test="receiptBy != null">receipt_by = #{receiptBy},</if>
            <if test="receiptNumber != null">receipt_number = #{receiptNumber},</if>
            <if test="receiptMoney != null">receipt_money = #{receiptMoney},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="receiptVendorId != null">receipt_vendor_id = #{receiptVendorId},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="receiptPhone != null">receipt_phone = #{receiptPhone},</if>
            <if test="receiptState != null">receipt_state = #{receiptState},</if>
            <if test="receiptOrdersId != null">receipt_orders_id = #{receiptOrdersId},</if>
            <if test="receiptWarehouseId != null">receipt_warehouse_id = #{receiptWarehouseId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where receipt_id = #{receiptId}
    </update>

    <delete id="deletePublicReceiptByReceiptId" parameterType="Long">
        delete from public_receipt where receipt_id = #{receiptId}
    </delete>

    <delete id="deletePublicReceiptByReceiptIds" parameterType="String">
        delete from public_receipt where receipt_id in
        <foreach item="receiptId" collection="array" open="(" separator="," close=")">
            #{receiptId}
        </foreach>
    </delete>
</mapper>