<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.shopping.mapper.ShoppingOrdersMapper">

    <resultMap type="com.yz.shopping.domain.ShoppingOrders" id="ShoppingOrdersResult">
        <result property="orderId"    column="order_id"    />
        <result property="requireId"    column="require_id"    />
        <result property="buyPlanId"    column="buy_plan_id"    />
        <result property="orderTitle"    column="order_title"    />
        <result property="orderSource"    column="order_source"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="orderPurchaser"    column="order_purchaser"    />
        <result property="totalMoney"    column="total_money"    />
        <result property="isZt"    column="is_zt"    />
        <result property="carNumber"    column="car_number"    />
        <result property="driverPhone"    column="driver_phone"    />
        <result property="ordeContractId"    column="orde_contract_id"    />
        <result property="orderContext"    column="order_context"    />
        <result property="contractdetailsAmount"    column="contractdetails_amount"    />
        <result property="orderSupplierId"    column="order_supplier_id"    />
        <result property="orderMaterialId"    column="order_material_id"    />
        <result property="typeOrderState"    column="type_order_state"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <resultMap type="com.yz.shopping.domain.ShoppingOrders" id="ShowsOrdersResult">
        <result property="orderId"    column="order_id"    />
        <result property="requireId"    column="require_id"    />
        <result property="buyPlanId"    column="buy_plan_id"    />
        <result property="orderTitle"    column="order_title"    />
        <result property="orderSource"    column="order_source"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="orderPurchaser"    column="order_purchaser"    />
        <result property="totalMoney"    column="total_money"    />
        <result property="isZt"    column="is_zt"    />
        <result property="carNumber"    column="car_number"    />
        <result property="driverPhone"    column="driver_phone"    />
        <result property="ordeContractId"    column="orde_contract_id"    />
        <result property="orderContext"    column="order_context"    />
        <result property="contractdetailsAmount"    column="contractdetails_amount"    />
        <result property="orderSupplierId"    column="order_supplier_id"    />
        <result property="orderMaterialId"    column="order_material_id"    />
        <result property="typeOrderState"    column="type_order_state"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="datePlusThreeDays" column="DatePlusThreeDays"/>
        <collection property="publicVendor" ofType="com.ruoyi.system.api.domain.PublicVendor">
            <result property="vendorId" column="vendor_id"/>
            <result property="vendorNumber" column="vendor_number"/>
            <result property="abbreviated" column="abbreviated"/>
            <result property="contractTypeTypeId" column="contract_type_type_id"/>
            <result property="vendorTypeStateId" column="vendor_type_state_id"/>
            <result property="isBlacklist" column="is_blacklist"/>
            <result property="ranges" column="ranges"/>
            <result property="causes" column="causes"/>
            <result property="warehouseAddress" column="warehouse_address"/>
            <result property="profile" column="profile"/>
            <result property="delegates" column="delegates"/>
            <result property="addTime" column="add_time"/>
            <result property="email" column="email"/>
            <result property="fax" column="fax"/>
            <result property="responsible" column="responsible"/>
            <result property="responsiblePhone" column="responsible_phone"/>
            <result property="bankingName" column="banking_name"/>
            <result property="industrialCommercial" column="industrial_commercial"/>
            <result property="createBy" column="create_by"/>
            <result property="createTime" column="create_time"/>
            <result property="updateBy" column="update_by"/>
            <result property="updateTime" column="update_time"/>
            <result property="isExist" column="is_exist"/>
            <result property="isDelete" column="is_delete"/>

        </collection>
    </resultMap>

    <sql id="selectShoppingOrdersVo">
        select order_id, require_id, buy_plan_id, order_title, order_source, order_number, order_purchaser, total_money, is_zt, car_number, driver_phone, orde_contract_id, order_context, contractdetails_amount, order_supplier_id, order_material_id, type_order_state, create_by, create_time, update_by, update_time, is_delete from shopping_orders
    </sql>

    <select id="selectShoppingOrdersList" parameterType="com.yz.shopping.domain.ShoppingOrders" resultMap="ShoppingOrdersResult">
        <include refid="selectShoppingOrdersVo"/>
        <where>
            <if test="orderTitle != null  and orderTitle != ''"> and order_title like concat('%', #{orderTitle}, '%')</if>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number like concat('%', #{orderNumber}, '%')</if>
            <if test="orderSupplierId != null "> and order_supplier_id = #{orderSupplierId}</if>
            <if test="typeOrderState != null "> and type_order_state = #{typeOrderState}</if>
        </where>
    </select>

    <select id="selectShoppingOrdersByOrderId" parameterType="Long" resultMap="ShoppingOrdersResult">
        <include refid="selectShoppingOrdersVo"/>
        where order_id = #{orderId}
    </select>

    <!--    供应商首页（我的订单）-->
    <select id="showOrderSupplierId" resultMap="ShoppingOrdersResult">
        SELECT order_number,order_purchaser,total_money,create_time,type_order_state FROM shopping_orders
        WHERE order_supplier_id=#{oSupplierId}
    </select>

<!--    收货单（详情显示）-->
    <select id="showsDetailsReceipt" resultMap="ShowsOrdersResult">
        SELECT DATE_ADD(ord.create_time, INTERVAL 3 DAY) AS DatePlusThreeDays,order_material_id,ord.total_money,order_purchaser,order_supplier_id,ve.abbreviated,ve.responsible,ve.responsible_phone,ord.type_order_state
        FROM shopping_orders AS ord
                 INNER JOIN public_vendor AS ve ON(ord.order_supplier_id=ve.vendor_id)
                 INNER JOIN shopping_demand AS de ON(ord.order_material_id=de.demand_id)
        WHERE ord.order_id=#{orderId} AND ord.is_delete=0 AND ve.is_delete=0
    </select>


    <insert id="insertShoppingOrders" parameterType="com.yz.shopping.domain.ShoppingOrders" useGeneratedKeys="true" keyProperty="orderId">
        insert into shopping_orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="requireId != null">require_id,</if>
            <if test="buyPlanId != null">buy_plan_id,</if>
            <if test="orderTitle != null">order_title,</if>
            <if test="orderSource != null">order_source,</if>
            <if test="orderNumber != null">order_number,</if>
            <if test="orderPurchaser != null">order_purchaser,</if>
            <if test="totalMoney != null">total_money,</if>
            <if test="isZt != null">is_zt,</if>
            <if test="carNumber != null">car_number,</if>
            <if test="driverPhone != null">driver_phone,</if>
            <if test="ordeContractId!= null">orde_contract_id,</if>
            <if test="orderContext != null">order_context,</if>
            <if test="contractdetailsAmount != null">contractdetails_amount,</if>
            <if test="orderSupplierId != null">order_supplier_id,</if>
            <if test="orderMaterialId != null">order_material_id,</if>
            <if test="typeOrderState != null">type_order_state,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="requireId != null">#{requireId},</if>
            <if test="buyPlanId != null">#{buyPlanId},</if>
            <if test="orderTitle != null">#{orderTitle},</if>
            <if test="orderSource != null">#{orderSource},</if>
            <if test="orderNumber != null">#{orderNumber},</if>
            <if test="orderPurchaser != null">#{orderPurchaser},</if>
            <if test="totalMoney != null">#{totalMoney},</if>
            <if test="isZt != null">#{isZt},</if>
            <if test="carNumber != null">#{carNumber},</if>
            <if test="driverPhone != null">#{driverPhone},</if>
            <if test="ordeContractId!= null">#{ordeContractId},</if>
            <if test="orderContext != null">#{orderContext},</if>
            <if test="contractdetailsAmount != null">#{contractdetailsAmount},</if>
            <if test="orderSupplierId != null">#{orderSupplierId},</if>
            <if test="orderMaterialId != null">#{orderMaterialId},</if>
            <if test="typeOrderState != null">#{typeOrderState},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
        </trim>
    </insert>

    <update id="updateShoppingOrders" parameterType="com.yz.shopping.domain.ShoppingOrders">
        update shopping_orders
        <trim prefix="SET" suffixOverrides=",">
            <if test="requireId != null">require_id = #{requireId},</if>
            <if test="buyPlanId != null">buy_plan_id = #{buyPlanId},</if>
            <if test="orderTitle != null">order_title = #{orderTitle},</if>
            <if test="orderSource != null">order_source = #{orderSource},</if>
            <if test="orderNumber != null">order_number = #{orderNumber},</if>
            <if test="orderPurchaser != null">order_purchaser = #{orderPurchaser},</if>
            <if test="totalMoney != null">total_money = #{totalMoney},</if>
            <if test="isZt != null">is_zt = #{isZt},</if>
            <if test="carNumber != null">car_number = #{carNumber},</if>
            <if test="driverPhone != null">driver_phone = #{driverPhone},</if>
            <if test="ordeContractId!= null">orde_contract_id = #{ordeContractId},</if>
            <if test="orderContext != null">order_context = #{orderContext},</if>
            <if test="contractdetailsAmount != null">contractdetails_amount = #{contractdetailsAmount},</if>
            <if test="orderSupplierId != null">order_supplier_id = #{orderSupplierId},</if>
            <if test="orderMaterialId != null">order_material_id = #{orderMaterialId},</if>
            <if test="typeOrderState != null">type_order_state = #{typeOrderState},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <!--    待收货单   -->
    <update id="updateOrderState" parameterType="com.yz.shopping.domain.ShoppingOrders">
        UPDATE shopping_orders SET type_order_state=5 WHERE order_id=#{orderId};
    </update>

    <delete id="deleteShoppingOrdersByOrderId" parameterType="Long">
        delete from shopping_orders where order_id = #{orderId}
    </delete>

    <delete id="deleteShoppingOrdersByOrderIds" parameterType="String">
        delete from shopping_orders where order_id in
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
</mapper>