<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.shopping.mapper.ShoppingProRequireMapper">

    <resultMap type="com.yz.shopping.domain.ShoppingProRequire" id="ShoppingProRequireResult">
        <result property="requireId"    column="require_id"    />
        <result property="requireDemandId"    column="require_demand_id"    />
        <result property="requireNumber"    column="require_number"    />
        <result property="requirePerson"    column="require_person"    />
        <result property="requireDept"    column="require_dept"    />
        <result property="requireType"    column="require_type"    />
        <result property="totalMoney"    column="total_money"    />
        <result property="requireContact"    column="require_contact"    />
        <result property="mainPurpose"    column="main_purpose"    />
        <result property="requireAddress"    column="require_address"    />
        <result property="requirePhone"    column="require_phone"    />
        <result property="requireState"    column="require_state"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectShoppingProRequireVo">
        select require_id, require_demand_id, require_number, require_person, require_dept, require_type, total_money, require_contact, main_purpose, require_address, require_phone, require_state, create_by, create_time, update_by, update_time, is_delete from shopping_pro_require
    </sql>

    <select id="selectShoppingProRequireList" parameterType="com.yz.shopping.domain.ShoppingProRequire" resultMap="ShoppingProRequireResult">
        <include refid="selectShoppingProRequireVo"/>
        <where>
            <if test="requireType != null "> and require_type = #{requireType}</if>
            <if test="requireState != null "> and require_state = #{requireState}</if>
        </where>
    </select>

    <select id="selectShoppingProRequireByRequireId" parameterType="Long" resultMap="ShoppingProRequireResult">
        <include refid="selectShoppingProRequireVo"/>
        where require_id = #{requireId}
    </select>

    <insert id="insertShoppingProRequire" parameterType="com.yz.shopping.domain.ShoppingProRequire" useGeneratedKeys="true" keyProperty="requireId">
        insert into shopping_pro_require
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="requireDemandId != null">require_demand_id,</if>
            <if test="requireNumber != null and requireNumber != ''">require_number,</if>
            <if test="requirePerson != null and requirePerson != ''">require_person,</if>
            <if test="requireDept != null and requireDept != ''">require_dept,</if>
            <if test="requireType != null">require_type,</if>
            <if test="totalMoney != null">total_money,</if>
            <if test="requireContact != null and requireContact != ''">require_contact,</if>
            <if test="mainPurpose != null">main_purpose,</if>
            <if test="requireAddress != null">require_address,</if>
            <if test="requirePhone != null">require_phone,</if>
            <if test="requireState != null">require_state,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="requireDemandId != null">#{requireDemandId},</if>
            <if test="requireNumber != null and requireNumber != ''">#{requireNumber},</if>
            <if test="requirePerson != null and requirePerson != ''">#{requirePerson},</if>
            <if test="requireDept != null and requireDept != ''">#{requireDept},</if>
            <if test="requireType != null">#{requireType},</if>
            <if test="totalMoney != null">#{totalMoney},</if>
            <if test="requireContact != null and requireContact != ''">#{requireContact},</if>
            <if test="mainPurpose != null">#{mainPurpose},</if>
            <if test="requireAddress != null">#{requireAddress},</if>
            <if test="requirePhone != null">#{requirePhone},</if>
            <if test="requireState != null">#{requireState},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
        </trim>
    </insert>

    <update id="updateShoppingProRequire" parameterType="com.yz.shopping.domain.ShoppingProRequire">
        update shopping_pro_require
        <trim prefix="SET" suffixOverrides=",">
            <if test="requireDemandId != null">require_demand_id = #{requireDemandId},</if>
            <if test="requireNumber != null and requireNumber != ''">require_number = #{requireNumber},</if>
            <if test="requirePerson != null and requirePerson != ''">require_person = #{requirePerson},</if>
            <if test="requireDept != null and requireDept != ''">require_dept = #{requireDept},</if>
            <if test="requireType != null">require_type = #{requireType},</if>
            <if test="totalMoney != null">total_money = #{totalMoney},</if>
            <if test="requireContact != null and requireContact != ''">require_contact = #{requireContact},</if>
            <if test="mainPurpose != null">main_purpose = #{mainPurpose},</if>
            <if test="requireAddress != null">require_address = #{requireAddress},</if>
            <if test="requirePhone != null">require_phone = #{requirePhone},</if>
            <if test="requireState != null">require_state = #{requireState},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where require_id = #{requireId}
    </update>
    <update id="updateExamine" parameterType="com.yz.shopping.domain.ShoppingProRequire">
        update shopping_pro_require
        <trim prefix="SET" suffixOverrides=",">
            <if test="requireState != null">require_state = #{requireState},</if>
        </trim>
        where require_id = #{requireId}
    </update>

    <delete id="deleteShoppingProRequireByRequireId" parameterType="Long">
        delete from shopping_pro_require where require_id = #{requireId}
    </delete>

    <delete id="deleteShoppingProRequireByRequireIds" parameterType="String">
        delete from shopping_pro_require where require_id in
        <foreach item="requireId" collection="array" open="(" separator="," close=")">
            #{requireId}
        </foreach>
    </delete>
</mapper>