<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.bidding.mapper.BiddingTenderProjectsMapper">

    <resultMap type="com.yz.bidding.domain.BiddingTenderProjects" id="BiddingTenderProjectsResult">
        <result property="tenderProjectsId"    column="tender_projects_id"    />
        <result property="tenderProjectsNumber"    column="tender_projects_number"    />
        <result property="tenderProjectsName"    column="tender_projects_name"    />
        <result property="projectsType"    column="projects_type"    />
        <result property="tenderProjectsMoney"    column="tender_projects_money"    />
        <result property="tenderProjectsContact"    column="tender_projects_contact"    />
        <result property="tenderProjectsPhone"    column="tender_projects_phone"    />
        <result property="tenderProjectsAddress"    column="tender_projects_address"    />
        <result property="tenderProjectsEmail"    column="tender_projects_email"    />
        <result property="remark"    column="remark"    />
        <result property="manner"    column="manner"    />
        <result property="censor"    column="censor"    />
        <result property="must"    column="must"    />
        <result property="auditState"    column="audit_state"    />
        <result property="creatBy"    column="creat_by"    />
        <result property="creatTime"    column="creat_time"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="bidAnnexId"    column="bid_annex_id"    />
    </resultMap>

    <resultMap id="findProjectById" type="BiddingTenderProjects">
        <result property="tenderProjectsId" column="tender_projects_id"/>
        <result property="tenderProjectsNumber" column="tender_projects_number"/>
        <result property="tenderProjectsName" column="tender_projects_name"/>
        <result property="projectsType" column="projects_type"/>
        <result property="tenderProjectsMoney" column="tender_projects_money"/>
        <result property="tenderProjectsContact" column="tender_projects_contact"/>
        <result property="tenderProjectsPhone" column="tender_projects_phone"/>
        <result property="tenderProjectsAddress" column="tender_projects_address"/>
        <result property="tenderProjectsEmail" column="tender_projects_email"/>
        <result property="remark" column="remark"/>
        <result property="manner" column="manner"/>
        <result property="censor" column="censor"/>
        <result property="must" column="must"/>
        <result property="auditState" column="audit_state"/>
        <result property="creatBy" column="creat_by"/>
        <result property="creatTime" column="creat_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="bidAnnexId"    column="bid_annex_id"    />

        <collection property="list" ofType="Map">
            <result property="tenderManifestId" column="tender_manifest_id"/>
            <result property="manifestProjectsId" column="manifest_projects_id"/>
            <result property="manifestGoodsId" column="manifest_goods_id"/>
            <result property="number" column="number"/>
            <result property="manifestTypeId" column="manifest_type_id"/>
            <result property="price" column="price"/>
            <result property="prices" column="prices"/>
            <result property="explains" column="explains"/>
            <result property="bz" column="bz"/>
            <result property="isDelete" column="is_delete"/>
            <result property="goodsName" column="goods_name"/>
            <result property="goodsCode" column="goods_code"/>
        </collection>
    </resultMap>

    <resultMap type="com.yz.bidding.domain.BiddingTenderProjects" id="ContractedMaterialInformation">
        <result property="tenderProjectsId"    column="tender_projects_id"    />
        <result property="tenderProjectsNumber"    column="tender_projects_number"    />
        <result property="tenderProjectsName"    column="tender_projects_name"    />
        <result property="projectsType"    column="projects_type"    />
        <result property="tenderProjectsMoney"    column="tender_projects_money"    />
        <result property="tenderProjectsContact"    column="tender_projects_contact"    />
        <result property="tenderProjectsPhone"    column="tender_projects_phone"    />
        <result property="tenderProjectsAddress"    column="tender_projects_address"    />
        <result property="tenderProjectsEmail"    column="tender_projects_email"    />
        <result property="remark"    column="remark"    />
        <result property="manner"    column="manner"    />
        <result property="censor"    column="censor"    />
        <result property="must"    column="must"    />
        <result property="auditState"    column="audit_state"    />
        <result property="creatBy"    column="creat_by"    />
        <result property="creatTime"    column="creat_time"    />
        <result property="isDelete"    column="is_delete"    />
        <collection property="biddingNotice" ofType="com.yz.bidding.domain.BiddingNotice">
            <result property="noticeId"    column="notice_id"    />
            <result property="noticeProjectId" column="notice_project_id" />
            <result property="tenderNoticeId"    column="tender_notice_id"    />
            <result property="noticeDate"    column="notice_date"    />
            <result property="buyer"    column="buyer"    />
            <result property="noticeTitle"    column="notice_title"    />
            <result property="noticeContext"    column="notice_context"    />
            <result property="bidMoney"    column="bid_money"    />
            <result property="noticeSupplierId"    column="notice_supplier_id"    />
        </collection>
        <collection property="bidTenderManifest" ofType="com.yz.bidding.domain.BiddingTenderManifest">
            <result property="tenderManifestId" column="tender_manifest_id"/>
            <result property="manifestProjectsId" column="manifest_projects_id"/>
            <result property="manifestGoodsId" column="manifest_goods_id"/>
            <result property="number" column="number"/>
            <result property="manifestTypeId" column="manifest_type_id"/>
            <result property="price" column="price"/>
            <result property="prices" column="prices"/>
            <result property="explains" column="explains"/>
            <result property="remark" column="remark"/>
            <result property="isDelete" column="is_delete"/>
        </collection>
        <collection property="publicGoods" ofType="com.ruoyi.system.api.domain.PublicGoods">
            <result property="goodsId" column="goods_id"/>
            <result property="categoryId" column="category_id"/>
            <result property="goodsName" column="goods_name"/>
            <result property="goodsCode" column="goods_code"/>
            <result property="goodsType" column="goods_type"/>
            <result property="specs" column="specs"/>
            <result property="model" column="model"/>
            <result property="brand" column="brand"/>
            <result property="weight" column="weight"/>
            <result property="goodsNumber" column="goods_number"/>
            <result property="volume" column="volume"/>
            <result property="buyer" column="buyer"/>
            <result property="state" column="state"/>
        </collection>
        <collection property="publicCategory" ofType="com.ruoyi.system.api.domain.PublicCategory">
            <result property="categoryId"    column="category_id"    />
            <result property="categoryNumber"    column="category_number"    />
            <result property="categoryName"    column="category_name"    />
            <result property="parentCategory"    column="parent_category"    />
            <result property="isDelete"    column="is_delete"    />
        </collection>
    </resultMap>


    <sql id="selectBiddingTenderProjectsVo">
        select tender_projects_id,
               tender_projects_number,
               tender_projects_name,
               projects_type,
               tender_projects_money,
               tender_projects_contact,
               tender_projects_phone,
               tender_projects_address,
               tender_projects_email,
               remark,
               manner,
               censor,
               must,
               audit_state,
               creat_by,
               creat_time,
               is_delete,
               bid_annex_id
        from bidding_tender_projects
    </sql>

    <select id="selectBiddingTenderProjectsList" parameterType="BiddingTenderProjects"
            resultMap="BiddingTenderProjectsResult">
        <include refid="selectBiddingTenderProjectsVo"/>
        <where>
            <if test="tenderProjectsName != null  and tenderProjectsName != ''">and tender_projects_name like
                concat('%', #{tenderProjectsName}, '%')
            </if>
            <if test="auditState != null ">and audit_state = #{auditState}</if>
            <if test="params.beginCreatTime != null and params.beginCreatTime != '' and params.endCreatTime != null and params.endCreatTime != ''">
                and creat_time between #{params.beginCreatTime} and #{params.endCreatTime}
            </if>
        </where>
    </select>

    <select id="selectBiddingTenderProjectsByTenderProjectsId" parameterType="Long"
            resultMap="BiddingTenderProjectsResult">
        <include refid="selectBiddingTenderProjectsVo"/>
        where tender_projects_id = #{tenderProjectsId}
    </select>

    <select id="findProjectById" resultMap="findProjectById">
        SELECT p.*, m.*, g.goods_name, g.goods_code, m.remark as bz
        FROM bidding_tender_projects p
                 inner join `bidding_tender_manifest` m
                            on p.tender_projects_id = m.manifest_projects_id
                 inner join public_goods g
                            on m.manifest_goods_id = g.goods_id
        where p.tender_projects_id = #{pid}

    </select>

    <select id="agreementTenderProjects" parameterType="com.yz.bidding.domain.BiddingTenderProjects" resultMap="BiddingTenderProjectsResult">
        <include refid="selectBiddingTenderProjectsVo"/>
        <where>
            <if test="tenderProjectsNumber != null  and tenderProjectsNumber != ''">and tender_projects_number like
                concat('%', #{tenderProjectsNumber}, '%')
            </if>
            and audit_state=4
        </where>
    </select>

<!--    合同签订物料信息-->
    <select id="SHowsProjectRelatedItems" parameterType="com.yz.bidding.domain.BiddingTenderProjects" resultMap="ContractedMaterialInformation">
        SELECT tender_projects_id,tender_projects_number,tender_projects_name,tender_projects_money,
               bn.notice_project_id,bn.notice_supplier_id,
               tm.manifest_projects_id,tm.manifest_goods_id,tm.manifest_type_id,tm.price,tm.prices,tm.explains,tm.remark,
               gos.goods_code,gos.goods_name,gos.goods_type,gos.category_id,
               ca.category_name
        FROM bidding_tender_projects AS tp
                 INNER JOIN bidding_notice AS bn ON (tp.tender_projects_id=bn.notice_project_id)
                 INNER JOIN bidding_tender_manifest AS tm ON(tp.tender_projects_id=tm.manifest_projects_id)
                 INNER JOIN public_goods AS gos ON(tm.manifest_goods_id=gos.goods_id)
                 INNER JOIN public_category AS ca ON(gos.category_id=ca.category_id)
        WHERE tender_projects_id=#{tenderProjectsId}  AND  bn.notice_supplier_id = #{noticeSupplierId} AND audit_state=4 AND tp.is_delete=0 AND tm.is_delete=0
    </select>

    <insert id="insertBiddingTenderProjects" parameterType="BiddingTenderProjects" useGeneratedKeys="true"
            keyProperty="tenderProjectsId">
        insert into bidding_tender_projects
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tenderProjectsNumber != null">tender_projects_number,</if>
            <if test="tenderProjectsName != null">tender_projects_name,</if>
            <if test="projectsType != null">projects_type,</if>
            <if test="tenderProjectsMoney != null">tender_projects_money,</if>
            <if test="tenderProjectsContact != null">tender_projects_contact,</if>
            <if test="tenderProjectsPhone != null">tender_projects_phone,</if>
            <if test="tenderProjectsAddress != null">tender_projects_address,</if>
            <if test="tenderProjectsEmail != null">tender_projects_email,</if>
            <if test="remark != null">remark,</if>
            <if test="manner != null">manner,</if>
            <if test="censor != null">censor,</if>
            <if test="must != null">must,</if>
            <if test="auditState != null">audit_state,</if>
            <if test="creatBy != null">creat_by,</if>
            <if test="creatTime != null">creat_time,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="bidAnnexId != null">bid_annex_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tenderProjectsNumber != null">#{tenderProjectsNumber},</if>
            <if test="tenderProjectsName != null">#{tenderProjectsName},</if>
            <if test="projectsType != null">#{projectsType},</if>
            <if test="tenderProjectsMoney != null">#{tenderProjectsMoney},</if>
            <if test="tenderProjectsContact != null">#{tenderProjectsContact},</if>
            <if test="tenderProjectsPhone != null">#{tenderProjectsPhone},</if>
            <if test="tenderProjectsAddress != null">#{tenderProjectsAddress},</if>
            <if test="tenderProjectsEmail != null">#{tenderProjectsEmail},</if>
            <if test="remark != null">#{remark},</if>
            <if test="manner != null">#{manner},</if>
            <if test="censor != null">#{censor},</if>
            <if test="must != null">#{must},</if>
            <if test="auditState != null">#{auditState},</if>
            <if test="creatBy != null">#{creatBy},</if>
            <if test="creatTime != null">#{creatTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="bidAnnexId != null">#{bidAnnexId},</if>

        </trim>
    </insert>

    <update id="updateBiddingTenderProjects" parameterType="BiddingTenderProjects">
        update bidding_tender_projects
        <trim prefix="SET" suffixOverrides=",">
            <if test="tenderProjectsNumber != null">tender_projects_number = #{tenderProjectsNumber},</if>
            <if test="tenderProjectsName != null">tender_projects_name = #{tenderProjectsName},</if>
            <if test="projectsType != null">projects_type = #{projectsType},</if>
            <if test="tenderProjectsMoney != null">tender_projects_money = #{tenderProjectsMoney},</if>
            <if test="tenderProjectsContact != null">tender_projects_contact = #{tenderProjectsContact},</if>
            <if test="tenderProjectsPhone != null">tender_projects_phone = #{tenderProjectsPhone},</if>
            <if test="tenderProjectsAddress != null">tender_projects_address = #{tenderProjectsAddress},</if>
            <if test="tenderProjectsEmail != null">tender_projects_email = #{tenderProjectsEmail},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="manner != null">manner = #{manner},</if>
            <if test="censor != null">censor = #{censor},</if>
            <if test="must != null">must = #{must},</if>
            <if test="auditState != null">audit_state = #{auditState},</if>
            <if test="creatBy != null">creat_by = #{creatBy},</if>
            <if test="creatTime != null">creat_time = #{creatTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="bidAnnexId != null">bid_annex_id = #{bidAnnexId},</if>
        </trim>
        where tender_projects_id = #{tenderProjectsId}
    </update>
    <update id="updateStates">
        update bidding_tender_projects
        set audit_state = #{zt}
        where tender_projects_id = #{id}
    </update>

    <delete id="deleteBiddingTenderProjectsByTenderProjectsId" parameterType="Long">
        delete
        from bidding_tender_projects
        where tender_projects_id = #{tenderProjectsId}
    </delete>

    <delete id="deleteBiddingTenderProjectsByTenderProjectsIds" parameterType="String">
        delete from bidding_tender_projects where tender_projects_id in
        <foreach item="tenderProjectsId" collection="array" open="(" separator="," close=")">
            #{tenderProjectsId}
        </foreach>
    </delete>
</mapper>