<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.bidding.mapper.PublicVendorMapper">

    <resultMap type="com.ruoyi.system.api.domain.PublicVendor" id="PublicVendorResult">
        <result property="vendorId" column="vendor_id"/>
        <result property="vendorNumber" column="vendor_number"/>
        <result property="abbreviated" column="abbreviated"/>
        <result property="contractTypeTypeId" column="contract_type_type_id"/>
        <result property="vendorTypeStateId" column="vendor_type_state_id"/>
        <result property="isBlacklist" column="is_blacklist"/>
        <result property="ranges" column="ranges"/>
        <result property="causes" column="causes"/>
        <result property="warehouseAddress" column="warehouse_address"/>
        <result property="profile" column="profile"/>
        <result property="delegates" column="delegates"/>
        <result property="addTime" column="add_time"/>
        <result property="email" column="email"/>
        <result property="fax" column="fax"/>
        <result property="responsible" column="responsible"/>
        <result property="responsiblePhone" column="responsible_phone"/>
        <result property="industrialCommercial" column="industrial_commercial"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="isExist" column="is_exist"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <resultMap id="findVendorDetailed" type="com.ruoyi.system.api.domain.PublicVendor">
        <result property="vendorId" column="vendor_id"/>
        <result property="vendorNumber" column="vendor_number"/>
        <result property="abbreviated" column="abbreviated"/>
        <result property="contractTypeTypeId" column="contract_type_type_id"/>
        <result property="vendorTypeStateId" column="vendor_type_state_id"/>
        <result property="isBlacklist" column="is_blacklist"/>
        <result property="ranges" column="ranges"/>
        <result property="causes" column="causes"/>
        <result property="warehouseAddress" column="warehouse_address"/>
        <result property="profile" column="profile"/>
        <result property="delegates" column="delegates"/>
        <result property="addTime" column="add_time"/>
        <result property="email" column="email"/>
        <result property="fax" column="fax"/>
        <result property="responsible" column="responsible"/>
        <result property="responsiblePhone" column="responsible_phone"/>
        <result property="industrialCommercial" column="industrial_commercial"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="isExist" column="is_exist"/>
        <result property="isDelete" column="is_delete"/>
        <collection property="publicContacts" ofType="com.ruoyi.system.api.domain.PublicContacts">
            <result property="contactsId" column="contacts_id"/>
            <result property="contactsVendorId" column="contacts_vendor_id"/>
            <result property="calls" column="calls"/>
            <result property="job" column="job"/>
            <result property="division" column="division"/>
            <result property="phone" column="phone"/>
            <result property="mailbox" column="mailbox"/>
        </collection>
        <collection property="publicQualificationList" ofType="com.ruoyi.system.api.domain.PublicQualification">
            <result property="qualificationId"    column="qualification_id"    />
            <result property="qualificationVendorId"    column="qualification_vendor_id"    />
            <result property="qualificationName"    column="qualification_name"    />
            <result property="startTime"    column="start_time"    />
            <result property="stopTime"    column="stop_time"    />
            <result property="documents"    column="documents"    />
            <result property="remark"    column="remark"    />
            <result property="isDelete"    column="is_delete"    />
        </collection>
    </resultMap>

    <sql id="selectPublicVendorVo">
        select vendor_id,
               vendor_number,
               abbreviated,
               contract_type_type_id,
               vendor_type_state_id,
               is_blacklist,
               ranges,
               causes,
               warehouse_address,
               profile,
               delegates,
               add_time,
               email,
               fax,
               responsible,
               responsible_phone,
               industrial_commercial,
               create_by,
               create_time,
               update_by,
               update_time,
               is_exist,
               is_delete
        from public_vendor
    </sql>

    <select id="selectPublicVendorList" parameterType="com.ruoyi.system.api.domain.PublicVendor"
            resultMap="PublicVendorResult">
        <include refid="selectPublicVendorVo"/>
        <where>
            <if test="vendorNumber != null  and vendorNumber != ''">and vendor_number like concat('%', #{vendorNumber},
                '%')
            </if>
            <if test="abbreviated != null  and abbreviated != ''">and abbreviated like concat('%', #{abbreviated},
                '%')
            </if>
            <if test="contractTypeTypeId != null ">and contract_type_type_id = #{contractTypeTypeId}</if>
            <if test="vendorTypeStateId != null ">and vendor_type_state_id = #{vendorTypeStateId}</if>
            <if test="isBlacklist != null ">and is_blacklist = #{isBlacklist}</if>
            <if test="ranges != null  and ranges != ''">and ranges like concat('%', #{ranges}, '%')</if>
            <if test="params.beginAddTime != null and params.beginAddTime != '' and params.endAddTime != null and params.endAddTime != ''">
                and add_time between #{params.beginAddTime} and #{params.endAddTime}
            </if>
            <if test="industrialCommercial != null  and industrialCommercial != ''">and industrial_commercial like
                concat('%', #{industrialCommercial}, '%')
            </if>
            <if test="isDelete != null  and isDelete != ''">and is_delete = #{isDelete}</if>
        </where>
    </select>

    <select id="selectPublicVendorByVendorId" parameterType="Long" resultMap="PublicVendorResult">
        <include refid="selectPublicVendorVo"/>
        where vendor_id = #{vendorId}
    </select>

    <select id="findVendorDetailed" resultMap="findVendorDetailed">
        SELECT *
        FROM `public_vendor` v
                 inner join public_qualification q
                            on v.vendor_id = q.qualification_vendor_id
                 inner join public_contacts c
                            on v.vendor_id = c.contacts_vendor_id
        where vendor_id = #{vid}
    </select>

    <insert id="insertPublicVendor" parameterType="com.ruoyi.system.api.domain.PublicVendor" useGeneratedKeys="true"
            keyProperty="vendorId">
        insert into public_vendor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vendorNumber != null">vendor_number,</if>
            <if test="abbreviated != null">abbreviated,</if>
            <if test="contractTypeTypeId != null">contract_type_type_id,</if>
            <if test="vendorTypeStateId != null">vendor_type_state_id,</if>
            <if test="isBlacklist != null">is_blacklist,</if>
            <if test="ranges != null">ranges,</if>
            <if test="causes != null">causes,</if>
            <if test="warehouseAddress != null">warehouse_address,</if>
            <if test="profile != null">profile,</if>
            <if test="delegates != null">delegates,</if>
            <if test="addTime != null">add_time,</if>
            <if test="email != null">email,</if>
            <if test="fax != null">fax,</if>
            <if test="responsible != null">responsible,</if>
            <if test="responsiblePhone != null">responsible_phone,</if>
            <if test="industrialCommercial != null">industrial_commercial,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isExist != null">is_exist,</if>
            <if test="isDelete != null">is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vendorNumber != null">#{vendorNumber},</if>
            <if test="abbreviated != null">#{abbreviated},</if>
            <if test="contractTypeTypeId != null">#{contractTypeTypeId},</if>
            <if test="vendorTypeStateId != null">#{vendorTypeStateId},</if>
            <if test="isBlacklist != null">#{isBlacklist},</if>
            <if test="ranges != null">#{ranges},</if>
            <if test="causes != null">#{causes},</if>
            <if test="warehouseAddress != null">#{warehouseAddress},</if>
            <if test="profile != null">#{profile},</if>
            <if test="delegates != null">#{delegates},</if>
            <if test="addTime != null">#{addTime},</if>
            <if test="email != null">#{email},</if>
            <if test="fax != null">#{fax},</if>
            <if test="responsible != null">#{responsible},</if>
            <if test="responsiblePhone != null">#{responsiblePhone},</if>
            <if test="industrialCommercial != null">#{industrialCommercial},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isExist != null">#{isExist},</if>
            <if test="isDelete != null">#{isDelete},</if>
        </trim>
    </insert>
    <insert id="insertVendor" parameterType="com.ruoyi.system.api.domain.PublicVendor" useGeneratedKeys="true"
            keyProperty="vendorId">
        insert into public_vendor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vendorNumber != null">vendor_number,</if>
            <if test="abbreviated != null">abbreviated,</if>
            <if test="contractTypeTypeId != null">contract_type_type_id,</if>
            <if test="vendorTypeStateId != null">vendor_type_state_id,</if>
            <if test="isBlacklist != null">is_blacklist,</if>
            <if test="ranges != null">ranges,</if>
            <if test="causes != null">causes,</if>
            <if test="warehouseAddress != null">warehouse_address,</if>
            <if test="profile != null">profile,</if>
            <if test="delegates != null">delegates,</if>
            <if test="addTime != null">add_time,</if>
            <if test="email != null">email,</if>
            <if test="fax != null">fax,</if>
            <if test="responsible != null">responsible,</if>
            <if test="responsiblePhone != null">responsible_phone,</if>
            <if test="industrialCommercial != null">industrial_commercial,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isExist != null">is_exist,</if>
            <if test="isDelete != null">is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vendorNumber != null">#{vendorNumber},</if>
            <if test="abbreviated != null">#{abbreviated},</if>
            <if test="contractTypeTypeId != null">#{contractTypeTypeId},</if>
            <if test="vendorTypeStateId != null">#{vendorTypeStateId},</if>
            <if test="isBlacklist != null">#{isBlacklist},</if>
            <if test="ranges != null">#{ranges},</if>
            <if test="causes != null">#{causes},</if>
            <if test="warehouseAddress != null">#{warehouseAddress},</if>
            <if test="profile != null">#{profile},</if>
            <if test="delegates != null">#{delegates},</if>
            <if test="addTime != null">#{addTime},</if>
            <if test="email != null">#{email},</if>
            <if test="fax != null">#{fax},</if>
            <if test="responsible != null">#{responsible},</if>
            <if test="responsiblePhone != null">#{responsiblePhone},</if>
            <if test="industrialCommercial != null">#{industrialCommercial},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isExist != null">#{isExist},</if>
            <if test="isDelete != null">#{isDelete},</if>
        </trim>
    </insert>

    <update id="updatePublicVendor" parameterType="com.ruoyi.system.api.domain.PublicVendor">
        update public_vendor
        <trim prefix="SET" suffixOverrides=",">
            <if test="vendorNumber != null">vendor_number = #{vendorNumber},</if>
            <if test="abbreviated != null">abbreviated = #{abbreviated},</if>
            <if test="contractTypeTypeId != null">contract_type_type_id = #{contractTypeTypeId},</if>
            <if test="vendorTypeStateId != null">vendor_type_state_id = #{vendorTypeStateId},</if>
            <if test="isBlacklist != null">is_blacklist = #{isBlacklist},</if>
            <if test="ranges != null">ranges = #{ranges},</if>
            <if test="causes != null">causes = #{causes},</if>
            <if test="warehouseAddress != null">warehouse_address = #{warehouseAddress},</if>
            <if test="profile != null">profile = #{profile},</if>
            <if test="delegates != null">delegates = #{delegates},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="email != null">email = #{email},</if>
            <if test="fax != null">fax = #{fax},</if>
            <if test="responsible != null">responsible = #{responsible},</if>
            <if test="responsiblePhone != null">responsible_phone = #{responsiblePhone},</if>
            <if test="industrialCommercial != null">industrial_commercial = #{industrialCommercial},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isExist != null">is_exist = #{isExist},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where vendor_id = #{vendorId}
    </update>

    <delete id="deletePublicVendorByVendorId" parameterType="Long">
        delete
        from public_vendor
        where vendor_id = #{vendorId}
    </delete>

    <delete id="deletePublicVendorByVendorIds" parameterType="String">
        delete from public_vendor where vendor_id in
        <foreach item="vendorId" collection="array" open="(" separator="," close=")">
            #{vendorId}
        </foreach>
    </delete>
</mapper>