<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.bidding.mapper.PublicSupplyMapper">
    
    <resultMap type="com.ruoyi.system.api.domain.PublicSupply" id="PublicSupplyResult">
        <result property="supplyId"    column="supply_id"    />
        <result property="supplyVendorId"    column="supply_vendor_id"    />
        <result property="supplierCode"    column="supplier_code"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectPublicSupplyVo">
        select supply_id, supply_vendor_id, supplier_code, supplier_name, remark, create_by, create_time, update_by, update_time, is_delete from public_supply
    </sql>

    <select id="selectPublicSupplyList" parameterType="com.ruoyi.system.api.domain.PublicSupply" resultMap="PublicSupplyResult">
        <include refid="selectPublicSupplyVo"/>
        <where>  
            <if test="supplyVendorId != null "> and supply_vendor_id = #{supplyVendorId}</if>
            <if test="supplierCode != null  and supplierCode != ''"> and supplier_code = #{supplierCode}</if>
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectPublicSupplyBySupplyId" parameterType="Long" resultMap="PublicSupplyResult">
        <include refid="selectPublicSupplyVo"/>
        where supply_id = #{supplyId}
    </select>
        
    <insert id="insertPublicSupply" parameterType="com.ruoyi.system.api.domain.PublicSupply" useGeneratedKeys="true" keyProperty="supplyId">
        insert into public_supply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="supplyVendorId != null">supply_vendor_id,</if>
            <if test="supplierCode != null">supplier_code,</if>
            <if test="supplierName != null">supplier_name,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="supplyVendorId != null">#{supplyVendorId},</if>
            <if test="supplierCode != null">#{supplierCode},</if>
            <if test="supplierName != null">#{supplierName},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updatePublicSupply" parameterType="com.ruoyi.system.api.domain.PublicSupply">
        update public_supply
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplyVendorId != null">supply_vendor_id = #{supplyVendorId},</if>
            <if test="supplierCode != null">supplier_code = #{supplierCode},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where supply_id = #{supplyId}
    </update>

    <delete id="deletePublicSupplyBySupplyId" parameterType="Long">
        delete from public_supply where supply_id = #{supplyId}
    </delete>

    <delete id="deletePublicSupplyBySupplyIds" parameterType="String">
        delete from public_supply where supply_id in 
        <foreach item="supplyId" collection="array" open="(" separator="," close=")">
            #{supplyId}
        </foreach>
    </delete>
</mapper>