<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.bidding.mapper.PublicContractMapper">
    
    <resultMap type="com.ruoyi.system.api.domain.PublicContract" id="PublicContractResult">
        <result property="contractId"    column="contract_id"    />
        <result property="applicant"    column="applicant"    />
        <result property="applicantTime"    column="applicant_time"    />
        <result property="contractTypeTypeId"    column="contract_type_type_id"    />
        <result property="firm"    column="firm"    />
        <result property="vendorContractId"    column="vendor_contract_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPublicContractVo">
        select contract_id, applicant, applicant_time, contract_type_type_id, firm, vendor_contract_id, create_by, create_time, update_by, update_time from public_contract
    </sql>

    <select id="selectPublicContractList" parameterType="com.ruoyi.system.api.domain.PublicContract" resultMap="PublicContractResult">
        <include refid="selectPublicContractVo"/>
        <where>  
            <if test="applicant != null  and applicant != ''"> and applicant = #{applicant}</if>
            <if test="applicantTime != null "> and applicant_time = #{applicantTime}</if>
            <if test="contractTypeTypeId != null "> and contract_type_type_id = #{contractTypeTypeId}</if>
            <if test="firm != null  and firm != ''"> and firm = #{firm}</if>
            <if test="vendorContractId != null "> and vendor_contract_id = #{vendorContractId}</if>
        </where>
    </select>
    
    <select id="selectPublicContractByContractId" parameterType="Long" resultMap="PublicContractResult">
        <include refid="selectPublicContractVo"/>
        where contract_id = #{contractId}
    </select>
        
    <insert id="insertPublicContract" parameterType="com.ruoyi.system.api.domain.PublicContract" useGeneratedKeys="true" keyProperty="contractId">
        insert into public_contract
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applicant != null">applicant,</if>
            <if test="applicantTime != null">applicant_time,</if>
            <if test="contractTypeTypeId != null">contract_type_type_id,</if>
            <if test="firm != null">firm,</if>
            <if test="vendorContractId != null">vendor_contract_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applicant != null">#{applicant},</if>
            <if test="applicantTime != null">#{applicantTime},</if>
            <if test="contractTypeTypeId != null">#{contractTypeTypeId},</if>
            <if test="firm != null">#{firm},</if>
            <if test="vendorContractId != null">#{vendorContractId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePublicContract" parameterType="com.ruoyi.system.api.domain.PublicContract">
        update public_contract
        <trim prefix="SET" suffixOverrides=",">
            <if test="applicant != null">applicant = #{applicant},</if>
            <if test="applicantTime != null">applicant_time = #{applicantTime},</if>
            <if test="contractTypeTypeId != null">contract_type_type_id = #{contractTypeTypeId},</if>
            <if test="firm != null">firm = #{firm},</if>
            <if test="vendorContractId != null">vendor_contract_id = #{vendorContractId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where contract_id = #{contractId}
    </update>

    <delete id="deletePublicContractByContractId" parameterType="Long">
        delete from public_contract where contract_id = #{contractId}
    </delete>

    <delete id="deletePublicContractByContractIds" parameterType="String">
        delete from public_contract where contract_id in 
        <foreach item="contractId" collection="array" open="(" separator="," close=")">
            #{contractId}
        </foreach>
    </delete>
</mapper>