<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.bidding.mapper.PublicContractdetailsMapper">

    <resultMap type="com.ruoyi.system.api.domain.PublicContractdetails" id="PublicContractdetailsResult">
        <result property="contractdetailsId"    column="contractdetails_id"    />
        <result property="contractId"    column="contract_id"    />
        <result property="contractdetailsNumber"    column="contractdetails_number"    />
        <result property="contractdetailsPaymentId"    column="contractdetails_payment_id"    />
        <result property="contractdetailsName"    column="contractdetails_name"    />
        <result property="contractdetailsType"    column="contractdetails_type"    />
        <result property="openTime"    column="open_time"    />
        <result property="contractdetailsAmount"    column="contractdetails_amount"    />
        <result property="contractdetailsLevel"    column="contractdetails_level"    />
        <result property="illustrate"    column="illustrate"    />
        <result property="bidEnd"    column="bid_end"    />
        <result property="vendorContractId"    column="vendor_contract_id"    />
        <result property="contractdetailsState"    column="contractdetails_state"    />
        <result property="procurementMethod"    column="procurement_method"    />
        <result property="purchaseListId"    column="purchase_list_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="tenderProjectsName"    column="tender_projects_name"    />
        <result property="abbreviated" column="abbreviated"/>
        <result property="tenderProjectsId" column="tender_projects_id" />
        <result property="vendorId" column="vendor_id"/>
    </resultMap>

    <resultMap type="com.yz.bidding.vo.PurchaseContractsVo" id="PurchaseContractsResult">
        <result property="contractdetailsId"    column="contractdetails_id"    />
        <result property="contractdetailsNumber"    column="contractdetails_number"    />
        <result property="contractdetailsName"    column="contractdetails_name"    />
        <result property="contractdetailsType"    column="contractdetails_type"    />
        <result property="openTime"    column="open_time"    />
        <result property="contractdetailsAmount"    column="contractdetails_amount"    />
        <result property="contractdetailsLevel"    column="contractdetails_level"    />
        <result property="illustrate"    column="illustrate"    />
        <result property="bidEnd"    column="bid_end"    />
        <result property="contractdetailsState"    column="contractdetails_state"    />
        <result property="procurementMethod"    column="procurement_method"    />
        <result property="purchaseListId"    column="purchase_list_id"    />
        <result property="tenderProjectsId"    column="tender_projects_id"    />
        <result property="tenderProjectsName"    column="tender_projects_name"    />
        <result property="abbreviated" column="abbreviated"/>
        <result property="vendorId" column="vendor_id"/>
        <result property="applicant"    column="applicant"    />
        <result property="applicantTime"    column="applicant_time"    />
        <result property="contractSector"    column="contract_sector"    />
        <result property="firm"    column="firm"    />
        <result property="contractProjectRelated"    column="contract_project_related"    />
        <result property="contractProjectsId"    column="create_time"    />
        <result property="contractMaster"    column="contract_master"    />
        <result property="contractPrimeId"    column="contract_prime_id"    />
        <result property="contractTotalBudget"    column="contract_total_budget"    />
        <result property="contractParent"    column="contract_parent"    />
        <result property="planName"    column="plan_name"    />
        <result property="signatoriesNumber"    column="signatories_number"    />
        <result property="signingSubject"    column="signing_subject"    />
        <result property="signingAddress"    column="signing_address"    />
        <result property="signingContact"    column="signing_contact"    />
        <result property="signingContactMode"    column="signing_contact_mode"    />
        <result property="signingBank"    column="signing_bank"    />
        <result property="signingBankAccount"    column="signing_bank_account"    />
        <result property="sigingAmount"    column="siging_amount"    />
        <result property="currency"    column="currency"    />
    </resultMap>

    <sql id="selectPublicContractdetailsVo">
        select contractdetails_id, contract_id, contractdetails_number, contractdetails_payment_id, contractdetails_name, contractdetails_type, open_time, contractdetails_amount, contractdetails_level, illustrate, bid_end, vendor_contract_id, contractdetails_state, procurement_method, purchase_list_id, create_by, create_time, update_by, update_time from public_contractdetails
    </sql>

<!--    合同显示-->
    <select id="selectPublicContractdetailsList" parameterType="com.ruoyi.system.api.domain.PublicContractdetails" resultMap="PublicContractdetailsResult">
        SELECT co.contractdetails_id,btp.tender_projects_id,btp.tender_projects_name,co.contractdetails_name,co.contractdetails_number,ve.abbreviated,ve.vendor_id,ag.applicant,co.open_time,co.contractdetails_amount,ag.applicant_time,co.contractdetails_type,co.contractdetails_state,co.contractdetails_payment_id
        FROM public_agreement AS ag
        INNER JOIN public_contractdetails AS co ON(ag.contract_id=co.contract_id)
        INNER JOIN public_vendor AS ve ON(co.vendor_contract_id=ve.vendor_id)
        INNER JOIN bidding_tender_projects AS btp ON(ag.contract_projects_id=btp.tender_projects_id)
        <where>
            <if test="contractdetailsNumber != null "> co.contractdetails_number like concat('%', #{contractdetailsNumber}, '%')</if>
            <if test="contractdetailsName != null  and contractdetailsName != ''"> and co.contractdetails_name like concat('%', #{contractdetailsName}, '%')</if>
            <if test="contractdetailsState != null  and contractdetailsState != ''"> and co.contractdetails_state = #{contractdetailsState}</if>
            <if test="abbreviated != null  and abbreviated != ''"> and  ve.abbreviated like concat('%', #{abbreviated}, '%')</if>
            <if test="vendorId != null and vendorId !=0">and ve.vendor_id=#{vendorId}</if>
        </where>
        ORDER BY co.open_time DESC
    </select>

    <!--   供应商合同显示-->
    <select id="selectVendorList" parameterType="com.ruoyi.system.api.domain.PublicContractdetails" resultMap="PublicContractdetailsResult">
        SELECT co.contractdetails_id,btp.tender_projects_id,btp.tender_projects_name,co.contractdetails_name,co.contractdetails_number,ve.abbreviated,ve.vendor_id,ag.applicant,co.open_time,co.contractdetails_amount,ag.applicant_time,co.contractdetails_type,co.contractdetails_state,co.contractdetails_payment_id
        FROM public_agreement AS ag
        INNER JOIN public_contractdetails AS co ON(ag.contract_id=co.contract_id)
        INNER JOIN public_vendor AS ve ON(co.vendor_contract_id=ve.vendor_id)
        INNER JOIN bidding_tender_projects AS btp ON(ag.contract_projects_id=btp.tender_projects_id)
        where ve.vendor_id=#{vendorId}
        ORDER BY co.open_time DESC
    </select>

<!-- 采购合同详情-->
    <select id="selectContractDetailsId"   resultMap="PurchaseContractsResult">
        SELECT co.contractdetails_id,co.contractdetails_payment_id,
               ag.applicant,ag.applicant_time,ag.contract_sector,ag.firm,ag.contract_project_related,
               tp.tender_projects_name,tp.tender_projects_id,
               ag.contract_master,ag.contract_prime_id,ag.contract_total_budget,
               co.contractdetails_name,co.contractdetails_number,co.contractdetails_type,co.contractdetails_level,co.open_time,co.bid_end,co.contractdetails_amount,co.illustrate,co.procurement_method,
               si.signatories_number,si.signing_subject,
               ve.abbreviated,ve.vendor_id,
               si.signing_address,si.signing_contact,si.signing_contact_mode,si.signing_bank,si.signing_bank_account,si.siging_amount,si.currency
        FROM public_agreement AS ag
                 INNER JOIN bidding_tender_projects AS tp ON(ag.contract_projects_id=tp.tender_projects_id)
                 INNER JOIN public_contractdetails AS co ON(ag.contract_id=co.contract_id)
                 INNER JOIN public_signings AS si ON(co.contractdetails_id=si.signing_contractdetails_id)
                 INNER JOIN public_vendor AS ve ON(si.signing_vendor_id=ve.vendor_id)
        where contractdetails_id = #{contractdetailsId}
    </select>

    <select id="selectPublicContractdetailsByContractdetailsId" parameterType="Long" resultMap="PublicContractdetailsResult">
        <include refid="selectPublicContractdetailsVo"/>
        where contractdetails_id = #{contractdetailsId}
    </select>

<!--    合同总数量-->
    <select id="ContractCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM public_contractdetails
    </select>
<!--    合同总金额-->
    <select id="ContractSum" resultType="java.lang.Double">
        SELECT SUM(contractdetails_amount) FROM public_contractdetails WHERE contractdetails_state=5
    </select>

    <!--    供应商合同总数量-->
    <select id="ContractCounts" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM public_agreement AS ag
                 INNER JOIN public_contractdetails AS co ON(ag.contract_id=co.contract_id)
                 INNER JOIN public_vendor AS ve ON(co.vendor_contract_id=ve.vendor_id)
                 INNER JOIN bidding_tender_projects AS btp ON(ag.contract_projects_id=btp.tender_projects_id)
        where ve.vendor_id=#{vendorId}
    </select>
    <!--    供应商合同总金额-->
    <select id="ContractSums" resultType="java.lang.Double">
        SELECT SUM(contractdetails_amount)
        FROM public_agreement AS ag
                 INNER JOIN public_contractdetails AS co ON(ag.contract_id=co.contract_id)
                 INNER JOIN public_vendor AS ve ON(co.vendor_contract_id=ve.vendor_id)
                 INNER JOIN bidding_tender_projects AS btp ON(ag.contract_projects_id=btp.tender_projects_id)
        where ve.vendor_id=#{vendorId} AND contractdetails_state=5
    </select>

<!--    供应商首页（我的合同）-->
    <select id="VendorContractId" resultMap="PublicContractdetailsResult">
        SELECT contractdetails_number,contractdetails_name,contractdetails_amount,open_time,contractdetails_state FROM public_contractdetails
        WHERE vendor_contract_id=#{vendorId}
    </select>

    <insert id="insertPublicContractdetails" parameterType="com.ruoyi.system.api.domain.PublicContractdetails" useGeneratedKeys="true" keyProperty="contractdetailsId">
        insert into public_contractdetails
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contractId != null">contract_id,</if>
            <if test="contractdetailsNumber != null and contractdetailsNumber != ''">contractdetails_number,</if>
            <if test="contractdetailsPaymentId != null">contractdetails_payment_id,</if>
            <if test="contractdetailsName != null">contractdetails_name,</if>
            <if test="contractdetailsType != null">contractdetails_type,</if>
            <if test="openTime != null">open_time,</if>
            <if test="contractdetailsAmount != null">contractdetails_amount,</if>
            <if test="contractdetailsLevel != null">contractdetails_level,</if>
            <if test="illustrate != null">illustrate,</if>
            <if test="bidEnd != null">bid_end,</if>
            <if test="vendorContractId != null">vendor_contract_id,</if>
            <if test="contractdetailsState != null">contractdetails_state,</if>
            <if test="procurementMethod != null">procurement_method,</if>
<!--            <if test="contractdetailsTenderProjectsId != null">contractdetails_tender_projects_id,</if>-->
            <if test="purchaseListId != null">purchase_list_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contractId != null">#{contractId},</if>
            <if test="contractdetailsNumber != null and contractdetailsNumber != ''">#{contractdetailsNumber},</if>
            <if test="contractdetailsPaymentId != null">#{contractdetailsPaymentId},</if>
            <if test="contractdetailsName != null">#{contractdetailsName},</if>
            <if test="contractdetailsType != null">#{contractdetailsType},</if>
            <if test="openTime != null">#{openTime},</if>
            <if test="contractdetailsAmount != null">#{contractdetailsAmount},</if>
            <if test="contractdetailsLevel != null">#{contractdetailsLevel},</if>
            <if test="illustrate != null">#{illustrate},</if>
            <if test="bidEnd != null">#{bidEnd},</if>
            <if test="vendorContractId != null">#{vendorContractId},</if>
            <if test="contractdetailsState != null">#{contractdetailsState},</if>
            <if test="procurementMethod != null">#{procurementMethod},</if>
<!--            <if test="contractdetailsTenderProjectsId != null">#{contractdetailsTenderProjectsId},</if>-->
            <if test="purchaseListId != null">#{purchaseListId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updatePublicContractdetails" parameterType="com.ruoyi.system.api.domain.PublicContractdetails">
        update public_contractdetails
        <trim prefix="SET" suffixOverrides=",">
            <if test="contractId != null">contract_id = #{contractId},</if>
            <if test="contractdetailsNumber != null">contractdetails_number = #{contractdetailsNumber},</if>
            <if test="contractdetailsPaymentId != null">contractdetails_payment_id = #{contractdetailsPaymentId},</if>
            <if test="contractdetailsName != null">contractdetails_name = #{contractdetailsName},</if>
            <if test="contractdetailsType != null">contractdetails_type = #{contractdetailsType},</if>
            <if test="openTime != null">open_time = #{openTime},</if>
            <if test="contractdetailsAmount != null">contractdetails_amount = #{contractdetailsAmount},</if>
            <if test="contractdetailsLevel != null">contractdetails_level = #{contractdetailsLevel},</if>
            <if test="illustrate != null">illustrate = #{illustrate},</if>
            <if test="bidEnd != null">bid_end = #{bidEnd},</if>
            <if test="vendorContractId != null">vendor_contract_id = #{vendorContractId},</if>
            <if test="contractdetailsState != null">contractdetails_state = #{contractdetailsState},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where contractdetails_id = #{contractdetailsId}
    </update>
    <update id="upConState" parameterType="java.lang.Long">
        update public_contractdetails set contractdetails_state = 6  where contractdetails_id = #{conId}
    </update>

    <delete id="deletePublicContractdetailsByContractdetailsId" parameterType="Long">
        delete from public_contractdetails where contractdetails_id = #{contractdetailsId}
    </delete>

    <delete id="deletePublicContractdetailsByContractdetailsIds" parameterType="String">
        delete from public_contractdetails where contractdetails_id in
        <foreach item="contractdetailsId" collection="array" open="(" separator="," close=")">
            #{contractdetailsId}
        </foreach>
    </delete>
</mapper>